.metaflow/
metadata/
artifacts/
logs/
conda_env.yaml
metaflow.config
chapter-3/.metaflow/
chapter-4/.metaflow/
chapter-5/.metaflow/
chapter-6/.metaflow/
chapter-7/.metaflow/
chapter-8/.metaflow/
chapter-9/.metaflow/
tmp/.metaflow/
tmp/metaflow_config-json.config